<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createModalLabel">Create Post</h4>
      </div>
        <%= form_for(:post, :url => posts_path(:post), :action => 'create') do |f| %>
        <div class="modal-body">
          <div class="modal-body">
            <div class="form-group">
              <label for="title">Title:</label>
              <%= f.text_field :title, class:"form-control", required: true %>
            </div>
            <div class="form-group">
              <label for="body">Body:</label>
              <%= f.text_area :body, class:"form-control", rows: 5, required: true %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit 'Create Post', class:"btn btn-primary"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="loginModalLabel">Login</h4>
      </div>
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <label for="email">Email:</label>
            <%= f.email_field :email, class:"form-control", required: true %>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <%= f.password_field :password, class:"form-control", required: true %>
          </div>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>

        </div>
        <div class="modal-footer">
          <%= link_to "Forgot your password?", new_password_path(:user), class:"pull-left" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit 'Sign in', class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="registerModalLabel">Login</h4>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="modal-body">
          <%= devise_error_messages! %>

          <div class="form-group">
            <label for="first_name">First Name:</label>
            <%= f.text_field :first_name, class:"form-control", required: true %>
          </div>

          <div class="form-group">
            <label for="last_name">Last Name:</label>
            <%= f.text_field :last_name, class:"form-control", required: true %>
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <%= f.email_field :email, class:"form-control", required: true %>
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <em>(6 characters minimum) </em>
            <br />
            <%= f.password_field :password, autocomplete: "off", class:"form-control", required: true %>
          </div>

          <div class="form-group">
            <label for="password_confirmation">Password Confirmation:</label>
            <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", required: true %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit 'Sign Up', class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<header> 
  <a href="/">
    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="50" viewBox="0 0 395.5 395.5" class="injected-svg nav-logo-image js-inject-svg" data-src="/assets/pt_logo.svg" data-fallback="assets/pt_logo.png"><defs><style>.pt-logo-path{fill:#fff;}</style></defs><title>white-via-trm</title><path class="pt-logo-path" d="M-114.86,396.88a8.5,8.5,0,0,0,8.5-8.5V39.88a8.5,8.5,0,0,0-8.5-8.49H-463.37a8.5,8.5,0,0,0-8.49,8.49V388.39a8.5,8.5,0,0,0,8.49,8.5h348.51m0,15H-463.37a23.5,23.5,0,0,1-23.49-23.5V39.88a23.49,23.49,0,0,1,23.49-23.49h348.51a23.5,23.5,0,0,1,23.5,23.49V388.39A23.5,23.5,0,0,1-114.86,411.88Z" transform="translate(486.87 -16.38)"></path><path class="pt-logo-path" d="M-301.66,158.24l-75.59,116.28h-10.58l-26.62-116.28,0.85-3.74H-387l7.85,38.25L-374,231h0.51l20.82-38.08,24.23-38.42h27.64Zm28.15,22.95c-6.14.17-11.6-3.23-11.6-10.54,0-10.37,9-16.32,17.06-16.32,6.14,0,11.6,3.57,11.6,10.88C-256.44,175.92-265.31,181.19-273.5,181.19Zm-7.85,92.31h-23.89L-288,192.58h23.89Zm113.81-26.35c-1.37,7-2.9,10.71,5.63,10.2l-3.24,15.3c-11.6,2.38-27.81,3.23-24.23-13.6a36.24,36.24,0,0,1-29.52,15.81c-25.25-.51-33.1-20.06-28-43.35,6.83-27.71,29-42.33,56.48-41.82A83.17,83.17,0,0,1-157,197.34Zm-28.15-38.42c-12.8,0-23.37,7.82-27.47,22.78-3.58,14.45-.85,22.44,12.11,22.27,11.43,0,20-9,23.2-21.42l5.29-21.25C-186.66,209.24-191.61,208.73-195.7,208.73Z" transform="translate(486.87 -16.38)"></path><path class="pt-logo-path" d="M-200.94,294.07v32.2h-3.61v-32.2h-11.89v-3.2h27.4v3.2h-11.89Zm34.68,12.57a9.14,9.14,0,0,1-2.86,1.88,12.46,12.46,0,0,1-3.61.9l10.39,16.85h-4.42l-9.84-16.55h-6v16.55h-3.61v-35.4h10.44a22.18,22.18,0,0,1,4.84.5,11,11,0,0,1,3.86,1.62,7.69,7.69,0,0,1,2.53,2.93,9.74,9.74,0,0,1,.9,4.4,8.73,8.73,0,0,1-.7,3.55A8.74,8.74,0,0,1-166.27,306.64Zm-1.66-9.27a5.33,5.33,0,0,0-1.81-1.95,8.24,8.24,0,0,0-2.81-1.1,17.75,17.75,0,0,0-3.66-.35h-6.42v12.65h6.27a12.07,12.07,0,0,0,6.72-1.57,5.3,5.3,0,0,0,2.36-4.73A6.11,6.11,0,0,0-167.92,297.37Zm40.65,28.9V295.52h-0.1l-12.85,30.75h-1.91L-155,295.52h-0.1v30.75h-3.61v-35.4h5.52l12,29.3h0l11.89-29.3h5.52v35.4h-3.61Z" transform="translate(486.87 -16.38)"></path></svg>
  </a>
  <ul>
    <% if current_user %>
      <li>
        <a href="" data-toggle="modal" data-target="#createModal">
          Create Post
        </a>
      </li>
    <% end %>
    <li>
      <% if current_user %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      <% else %>
        <a href="" data-toggle="modal" data-target="#loginModal">
          Login
        </a>
        <a href="" data-toggle="modal" data-target="#registerModal">
          Sign Up
        </a>
      <% end %>
    </li>
  </ul>
</header>