<div class="posts">
  <% @posts.each do |post| %>
    <a href="/posts/<%=post.id%>">
      <div class="panel panel-default">
        <div class="panel-body">
          <div>
            <p><%= post.title %></p>
            <p>by <i><%= post.user.first_name %> <%= post.user.last_name %></i></p>
          </div>
          <div class="text-right">
            <%= post.created_at.strftime("%d %b %Y") %>
            <p>at <%= post.created_at.strftime("%H:%M") %></p>
          </div>
        </div>
      </div>
    </a>
  <% end %>
  <%= will_paginate @posts, class:"text-center" %>
</div>
